# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
.eggs/

# Jupyter / Notebooks
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data (ne pas push les fichiers lourds)
*.npy
*.h5
*.npz
data/
datasets/
models/

# Environment
.env
*.env